html, .body{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.Alfa{
    background: linear-gradient(to bottom,#4d8fac,  #39738c, #2a6179);
    width: 100%;
    height: 700px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.Menu {
    background: white;
    width: 75%;
    height: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logotip {
    margin-top: 40px;

    width: 40%;
    height: 180px;
    background-image: url(./img/LOS.jpg);
    background-size: cover;  /* автоматическое масштабирование фото */
    background-position: center; /* позиционирование фото по центру */
    border-radius: 15px;
   

    color: white; /* изменение цвета текста, чтобы он был видимым на фоне // filter: blur(5px); */
    font-size: 25px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Redistr {
    width: 40%;
    height: 300px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Reg{
    width: 49%;
    height: 300px;
    background: #77bfdf;
    border-radius: 15px;
}

.TEXT_1{
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login_php{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Users{
    background: rgba(255, 255, 255, 0.811);
    font-size: 15px;
}

.Users_Cnopca{
    width: 90px;
    height: 33px;
    font-size: 20px;
    background: #2a6179;
    border-radius: 10px;
}

.images_redister{
    width: 49%;
    height: 300px;
    background: #77bfdf;
    border-radius: 15px;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.LOGOTIP_FLY{
    width: 80px;
    height: 80px;
}

.Mebu_Block{
    width: 60%;
    height: 80px;
}

.Mebu_Block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.TEXT_2 {
    margin-right: 10px;
    font-size: 15px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.TEXT_2:hover{
    box-shadow: 0px 4px 2px rgb(0, 140, 221);
    opacity: 1;
}

.TEXT_3{
    font-size: 35px;
    color: black;
    margin: none;
}

.img_logotip{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.Nazvanie{
    width: 25%;
    height: 80px;
}

.img_Akkaunt{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

}

.AVA{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
}

.Name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.Beta{
    width: 100%;
    height: auto;
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Reis_Osnova {
    background: rgb(229, 229, 229);
    border-radius: 20px;

    width: 70%;
    height:auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Reis{
    width: 70%;
    height: 100px;
    background: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Time_Reis{
    width: 70%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.Cena_Reis {
    width: 29%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Nazvanie_Reis {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Time {
    height: 80%;
    width: 100%;
    margin-left: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.TEXT_7 {
    font-size: 20px;
}

.TEXT_8 {
    font-size: 16px;
}

.Cena {
    font-size: 22px;
}

.Cena_button {
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    background: rgb(229, 229, 229);
    margin-top: -15px;
}